{{ define "main" }}

		<section id="slider" class="slider-element slider-parallax include-header min-vh-100" style="background: url('/images/landing/landing1.jpg') no-repeat; background-size: cover; background-position: left">
			<div class="slider-inner">

				<div class="vertical-middle slider-element-fade">
					<div class="container dark">

						<div class="heading-block mb-0">
							<h1>
								<span class="text-rotater nocolor" data-separator="|" data-rotate="flipInX" data-speed="3500">
									Seekintoo makes cybersecurity <span class="t-rotate" style="color: #EB6050;">Reliable|Integrated|Simple|Understandable|Easy</span>
								</span>
							</h1>
							<span class="d-none d-md-block">Learn how to make cybersecurity interesting again.</span>
						</div>

						<a href="#" class="button button-border button-light button-rounded button-reveal text-end button-large topmargin d-none d-md-inline-block"><i class="icon-angle-right"></i><span>Start Tour</span></a>

					</div>
				</div>

			</div>
		</section>

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">

					<div class="row col-mb-50">
						<div class="col-sm-6 col-lg-6">
							<div class="feature-box fbox-border fbox-effect">
								<div class="fbox-icon">
									<a href="#"><i class="icon-users i-alt"></i></a>
								</div>
								<div class="fbox-content">
									<h3>Experience</h3>
									<p>Industry leading operations and project resources.</p>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-lg-6">
							<div class="feature-box fbox-border fbox-effect">
								<div class="fbox-icon">
									<a href="#"><i class="icon-handshake i-alt"></i></a>
								</div>
								<div class="fbox-content">
									<h3>Trust</h3>
									<p>Simplify, consolidate and standardize.</p>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-lg-6">
							<div class="feature-box fbox-border fbox-effect">
								<div class="fbox-icon">
									<a href="#"><i class="icon-balance-scale i-alt"></i></a>
								</div>
								<div class="fbox-content">
									<h3>Balance</h3>
									<p>Focus on what matters: reducing the risk of cyberattack.</p>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-lg-6">
							<div class="feature-box fbox-border fbox-effect">
								<div class="fbox-icon">
									<a href="#"><i class="icon-search-dollar i-alt"></i></a>
								</div>
								<div class="fbox-content">
									<h3>Observability</h3>
									<p>Get more from your existing security investment.</p>
								</div>
							</div>
						</div>


				</div>

				<div class="promo topmargin-lg promo-border bottommargin-lg promo-full p-5">
					<div class="container clearfix">
						<div class="row align-items-center">
							<div class="col-12 col-lg">
								<h3>Talk to a expert about <span>world-class</span> security services right now!</h3>
								<span>Expert-tailored solutions using the security tools you already have!</span>
							</div>
							<div class="col-12 col-lg-auto mt-4 mt-lg-0">
								<a href="#" class="button button-large button-circle m-0">Contact</a>
							</div>
						</div>
					</div>
				</div>

				<div class="container clearfix">

					<div id="side-navigation" class="row col-mb-50" data-plugin="tabs">

						<div class="col-md-6 col-lg-4">
							<ul class="sidenav">
								<li class="ui-tabs-active"><a href="#snav-content1"><i class="icon-screen"></i>Responsive Layout<i class="icon-chevron-right"></i></a></li>
								<li><a href="#snav-content2"><i class="icon-magic"></i>Retina Ready Display<i class="icon-chevron-right"></i></a></li>
								<li><a href="#snav-content3"><i class="icon-star3"></i>Fast Performance<i class="icon-chevron-right"></i></a></li>
								<li><a href="#snav-content4"><i class="icon-gift"></i>Bootstrap 3.2 Compatible<i class="icon-chevron-right"></i></a></li>
								<li><a href="#snav-content5"><i class="icon-adjust"></i>Light &amp; Dark Scheme<i class="icon-chevron-right"></i></a></li>
							</ul>
						</div>

						<div class="col-md-6 col-lg-8">
							<div id="snav-content1">
								<div class="heading-block">
									<h3>Flexible Responsive Layout</h3>
									<span>We support multiple Devices &amp; Layouts.</span>
								</div>
								<img src="/images/others/mac-phone.png" alt="Image" class="alignleft" style="max-width: 320px;">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo rerum facilis deserunt maxime perspiciatis suscipit numquam ipsam, quisquam nesciunt, expedita voluptas et placeat odio nisi dolorum. Ab minus nam tenetur accusamus eligendi maiores natus ipsum ratione possimus a, nostrum atque!</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur tempora perferendis maiores saepe voluptatibus possimus, voluptatum laborum. Veritatis deleniti expedita veniam quo eum commodi laboriosam illo obcaecati sit in, illum saepe neque voluptas quis, ullam porro autem. Qui incidunt amet eum dolores expedita, sit laudantium, saepe. Nam tempore rerum, quibusdam est quia impedit rem unde nostrum voluptatum minus ipsa quam fugiat ullam voluptatibus neque accusamus modi eos veniam. Dolor, reiciendis.</p>
							</div>

							<div id="snav-content2">
								<div class="heading-block">
									<h3>Brilliant Retina Display</h3>
									<span>Crisp &amp; Clear Graphics across all your Retina &amp; Standard Devices.</span>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis praesentium quaerat blanditiis incidunt corporis, odit placeat dolorum. Voluptate laborum facere reprehenderit dolores repudiandae voluptatibus earum quod dignissimos odit! Aperiam optio delectus dolorum, fugit praesentium aut voluptate autem, sapiente labore architecto magni cumque magnam nobis, error accusamus soluta. Facilis, architecto, eos!</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum consequuntur quaerat vero qui ipsum sunt velit vel, officia, nihil amet ullam. Omnis nam rerum, harum!</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima perspiciatis cumque, ipsa laudantium totam blanditiis, expedita ut odit, cupiditate rem facilis ea ab, hic amet numquam nulla possimus consectetur ipsum fuga! Atque quibusdam, id eius illum numquam porro architecto accusamus nam adipisci mollitia excepturi dolores non, maiores sit fuga vero cumque ullam. Vitae quidem totam similique tempore eligendi necessitatibus culpa.</p>
							</div>

							<div id="snav-content3">
								<div class="heading-block">
									<h3>Powerful &amp; Optimized Code</h3>
									<span>Smart Reusable code all throughout the Template for Infinite Customizations.</span>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit perferendis quisquam quod eius illo possimus id maiores consequatur accusamus commodi?</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, optio animi adipisci distinctio fuga, nihil perferendis dignissimos. Aperiam odio voluptatem dignissimos aliquam? Ea, nihil animi, recusandae quos nulla, suscipit magni provident nesciunt incidunt quo dicta asperiores iste. Illo, qui culpa. Reprehenderit in asperiores blanditiis pariatur aliquid iusto. Quisquam voluptatibus nostrum architecto repudiandae voluptate, ipsum quae iure! Commodi recusandae, repellendus voluptas fugiat aspernatur culpa quod delectus quidem consequatur odio assumenda saepe inventore molestiae ea expedita hic dolorum distinctio ut! Maiores, error.</p>
							</div>

							<div id="snav-content4">
								<div class="heading-block">
									<h3>Bootstrap Compatible</h3>
									<span>Use the amazing features of the Bootstrap Framework.</span>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam facilis reiciendis maxime minus, iusto molestiae dolor veritatis officia cumque a sit, ducimus iste beatae eos harum fugit. Fuga et, iste sequi ea quibusdam doloremque delectus. Ducimus delectus incidunt, deleniti assumenda dignissimos magni, quo laboriosam architecto dolorum, facere cum tempore, totam.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum esse odio, voluptatem, fuga dolore labore. Voluptate, tenetur. Ab temporibus sed adipisci dolor ipsa cumque iusto maiores dolorum molestias magni expedita pariatur modi facere cupiditate eius quas, officiis eligendi cum veritatis dolore autem? Inventore vero doloremque sunt, et modi eos placeat.</p>
							</div>

							<div id="snav-content5">
								<div class="heading-block">
									<h3>Light &amp; Dark Schemes</h3>
									<span>Use the dual tone schemes or mix them according to your needs.</span>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium voluptas eveniet, recusandae ducimus commodi, maiores voluptatem consequuntur autem quod id molestiae quam nulla minus aliquam nobis laboriosam nisi ut aut adipisci esse omnis at. Voluptatem, natus distinctio minus possimus, aliquid magnam ratione. Adipisci odit nemo voluptatum quas animi, amet et fuga quisquam possimus, dolore id sint eum consequuntur, magnam aliquid impedit doloremque voluptates, ducimus laboriosam. Sint quisquam molestias libero voluptatum.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nisi nemo et esse. Fugiat facere harum, error iusto assumenda illo debitis quas, fugit similique minima.</p>
							</div>
						</div>

					</div>

					<div class="line"></div>

					<h4 class="center">Meet our Clients</h4>

					<ul class="clients-grid grid-2 grid-sm-3 grid-md-6 mb-0">
						<li class="grid-item"><a href="http://logofury.com/logo/enzo.html"><img src="/images/clients/1.png" alt="Clients"></a></li>
						<li class="grid-item"><a href="http://logofury.com"><img src="images/clients/2.png" alt="Clients"></a></li>
						<li class="grid-item"><a href="http://logofaves.com/2021/03/grabbt/"><img src="images/clients/3.png" alt="Clients"></a></li>
						<li class="grid-item"><a href="http://logofaves.com/2021/01/ladera-granola/"><img src="images/clients/4.png" alt="Clients"></a></li>
						<li class="grid-item"><a href="http://logofaves.com/2021/02/hershel-farms/"><img src="images/clients/5.png" alt="Clients"></a></li>
						<li class="grid-item"><a href="http://logofury.com/logo/food-fight-radio.html"><img src="images/clients/6.png" alt="Clients"></a></li>
						<li class="grid-item"><a href="http://logofury.com"><img src="images/clients/7.png" alt="Clients"></a></li>
						<li class="grid-item"><a href="http://logofury.com/logo/up-travel.html"><img src="images/clients/8.png" alt="Clients"></a></li>
						<li class="grid-item"><a href="http://logofury.com/logo/caffi-bardi.html"><img src="images/clients/9.png" alt="Clients"></a></li>
						<li class="grid-item"><a href="http://logofury.com/logo/bignix-design.html"><img src="images/clients/10.png" alt="Clients"></a></li>
						<li class="grid-item"><a href="http://logofury.com/"><img src="images/clients/11.png" alt="Clients"></a></li>
						<li class="grid-item"><a href="http://logofury.com/"><img src="images/clients/12.png" alt="Clients"></a></li>
					</ul>

				</div>

				<a href="#" class="button button-full center text-end footer-stick">
					<div class="container clearfix">
						Canvas comes with Unlimited Customizations &amp; Options. <strong>Check Out</strong> <i class="icon-caret-right" style="top:4px;"></i>
					</div>
				</a>

			</div>
		</section><!-- #content end -->

{{ end }}