<div id="contact" class="py-16 lg:py-32 px-4 overflow-hidden sm:px-6 lg:px-8 bg-gradient-to-b from-secondary-700 to-violet-900 relative{{ if eq .padding_remove true }} pt-0 lg:pt-0{{ end }}">
  <div class="absolute inset-0" style="background-image: linear-gradient(174deg, #ffffff 35%, rgba(255, 1255, 255, 0) 35%)"></div>
  <div class="relative max-w-xl mx-auto">
    <svg class="hidden absolute left-full transform translate-x-1/2" width="404" height="404" fill="none" viewBox="0 0 404 404" aria-hidden="true">
      <defs>
        <pattern id="85737c0e-0916-41d7-917f-596dc7edfa27" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
        </pattern>
      </defs>
      <rect width="404" height="404" fill="url(#85737c0e-0916-41d7-917f-596dc7edfa27)" />
    </svg>
    <svg class="absolute right-full bottom-0 transform -translate-x-1/2" width="404" height="404" fill="none" viewBox="0 0 404 404" aria-hidden="true">
      <defs>
        <pattern id="85737c0e-0916-41d7-917f-596dc7edfa27" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
        </pattern>
      </defs>
      <rect width="404" height="404" fill="url(#85737c0e-0916-41d7-917f-596dc7edfa27)" />
    </svg>
    <div class="p-8 md:p-12 bg-white rounded-2xl border border-slate-300">
      <div class="text-center">
        <h2 class="text-4xl font-bold tracking-tight text-secondary-900 sm:text-5xl">{{ .heading }}</h2>
        {{ with .subheading }}
          <p class="pb-8 mt-4 max-w-2xl mx-auto text-xl text-gray-500 sm:mt-4">{{ . }}</p>
        {{ end }}
      </div>
      <div class="pipedriveWebForms" data-pd-webforms="https://webforms.pipedrive.com/f/6WardpRNm7VtH1PkMY50BBQiBV8Oz4LIb6oIb0J0yAny2sBNtbmxhLWgUC2nODyMIH"><script src="https://webforms.pipedrive.com/f/loader"></script></div>
    </div>
  </div>
  
</div>
