<div class="bg-secondary-50 py-16 lg:py-32 px-4 sm:px-6 lg:px-8">
  <div class="relative max-w-6xl mx-auto">
    <div class="text-center">
      <h2 class="text-4xl tracking-tight font-extrabold text-secondary-900 sm:text-5xl">{{ .Site.Params.gated.heading }}</h2>
      {{ with .Site.Params.gated.subheading }}
        <p class="mt-3 max-w-2xl mx-auto text-xl text-gray-500 sm:mt-4">{{ . }}</p>
      {{ end }}
    </div>
    <div class="mt-12 sm:mx-auto sm:w-full sm:max-w-md">
      <div class="bg-white p-6 shadow sm:rounded-lg sm:p-10">
        <form class="space-y-6" action="#" method="POST">
          <div>
            <label for="email" class="block text-sm font-medium text-gray-700"> Email </label>
            <div class="mt-1">
              <input id="email" name="email" type="email" autocomplete="email" required class="appearance-none block w-full px-3 py-3 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-violet-500 focus:border-violet-500 sm:text-sm">
            </div>
          </div>

          <div>
            <label for="name" class="block text-sm font-medium text-gray-700"> Name </label>
            <div class="mt-1">
              <input id="name" name="name" type="text" required class="appearance-none block w-full px-3 py-3 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-violet-500 focus:border-violet-500 sm:text-sm">
            </div>
          </div>

          <div>
            <label for="company" class="block text-sm font-medium text-gray-700"> Company </label>
            <div class="mt-1">
              <input id="company" name="company" type="text" required class="appearance-none block w-full px-3 py-3 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-violet-500 focus:border-violet-500 sm:text-sm">
            </div>
          </div>

          <div>
            <button type="submit" class="mt-8 w-full flex justify-center py-3 px-4 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-secondary-500 hover:bg-secondary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500">Get Resources</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
